@model List<Category>

@section Scripts {
    <partial name="_PartialNotification"></partial>
}


<div class="container mt-5">
    <h2 class="mb-4 text-center">All Categories</h2>

    <a class="btn btn-primary start-0 float-end mb-3" href="/admin/category/create">New</a>

    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle shadow-sm">
            <thead class="table-dark text-center">
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var category in Model)
                    {
                        <tr class="text-center">
                            <td>@category.Id</td>
                            <td>@category.Name</td>
                            <td>
                                <a href="/admin/category/related/@category.Id" class="btn btn-primary btn-sm me-1">View Movies</a>
                                <a href="/admin/category/edit/@category.Id" class="btn btn-warning btn-sm me-1">Edit</a>
                                <a href="/admin/category/delete/@category.Id"
                                   class="btn btn-danger btn-sm"
                                   onclick="return confirm('Are you sure you want to delete this category?');">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center text-muted">No categories</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
